.customArrowbtn {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bcd7d2;
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.customSpacing {
    height: 50px;
}
